<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body style="background-color: aquamarine;">
    <h1 style="text-align: center;">Index Page</h1><hr>
    <form action="" method="POST">
        {%csrf_token%}
        <input type="text" name="name" placeholder="Name"><br><br>
        <input type="number" name="mob" placeholder="Number"><br><br>
        <input type="email" name="email" placeholder="Email"><br><br>
        <input type="date" name="dob" placeholder="DOB"><br><br>
        <textarea name="address" id="" placeholder="Address"></textarea><br><br><br>
        <button type="submit">Submit</button><br><br>
        <a href="show/">Showdata</a>
    </form>
</body>
</html>