<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Page</title>
</head>
<body style="background-color: aquamarine;">
    <h1 style="text-align: center;">Update Page</h1><hr>
    <form action="" method="POST">
        {%csrf_token%}
        <input type="text" name="name" value="{{stid.name}}" placeholder="Name"><br><br>
        <input type="number" name="mob" value="{{stid.mob}}" placeholder="Number"><br><br>
        <input type="email" name="email" value="{{stid.email}}" placeholder="Email"><br><br>
        <input type="date" name="dob" value="{{stid.dob|date:'Y-m-d'}}" placeholder="DOB"><br><br>
        <textarea name="address" id=""  placeholder="Address">{{stid.address}}</textarea><br><br><br>
        <button type="submit">Submit</button><br><br>
        <a href="#">Showdata</a>
    </form>
</body>
</html>