<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To DB Project</title>
</head>
<body style="background-color: antiquewhite;">
    <h1 style="text-align: center;">Update Data</h1><hr>
    <div>
        <form method="post">
        {%csrf_token%}
        <input type="text" value="{{stid.name}} "name" id="" placeholder="Name"><br><br>
        <input type="email" value="{{stid.email}}" name="email" id="" placeholder="Email"><br><br>
        <input type="date" name="dob" value="{{stid.dob|date:'Y-m-d'}}" id="" placeholder="DOB"><br><br>
        <input type="number" name="mob" value="{{stid.mob}}" id="" placeholder="Mo.No"><br><br>
        <textarea name="address" id="" placeholder="Address">{{stid.address}}</textarea><br><br>
        <input type="submit">
        
    </form>
    <a href="/showdata">showdata</a>
    </div>
</body>
</html>