<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SEOcom - SEO Company Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a href="index.html" class="navbar-brand">
                    <h1>SEOcom</h1>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="" class="nav-item nav-link active">Home</a>
                        <a href="/about" class="nav-item nav-link">About</a>
                        <a href="/service" class="nav-item nav-link">Services</a>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                    <a class="btn btn-secondary px-3" href="https://htmlcodex.com/downloading/?item=3811">Buy Pro Version</a>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Hero Start -->
    <div class="container-fluid pb-5 hero-header mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-3 mb-4 animated slideInRight">All in One <span class="text-white">SEO TOOL</span> Need to Grow Your Business Rapidly</h1>
                    <p class="fs-5 d-inline-block rounded bg-primary text-white py-3 px-4 mb-0 animated slideInRight">
                        An Award Winning Agency Since 1990</p>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid animated slideInRight" src="/static/img/hero-header.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
                    <img class="img-fluid" src="/static/img/about.png" alt="">
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="mb-4"><span class="text-uppercase bg-primary text-white rounded px-2">About</span> The Best SEO Solution With 10 Years of Experience</h1>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                        amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                        clita duo justo et tempor eirmod magna dolore erat amet</p>
                    <p class="mb-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no
                        labore lorem sit. Sanctus clita duo justo et tempor.</p>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Award Winning</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Professional Staff</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>24/7 Support</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Fair Prices</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mt-4">
                        <a class="btn btn-primary py-3 px-4 me-2" href="">Read More</a>
                        <a class="btn btn-secondary btn-square me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-secondary btn-square me-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-secondary btn-square me-2" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-secondary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-primary py-5 my-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 btn-lg-square bg-secondary rounded me-3">
                            <i class="fa fa-trophy text-white"></i>
                        </div>
                        <p class="fs-5 text-white mb-0">Award Winning</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 btn-lg-square bg-secondary rounded me-3">
                            <i class="fa fa-users text-white"></i>
                        </div>
                        <p class="fs-5 text-white mb-0">Professional Staff</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 btn-lg-square bg-secondary rounded me-3">
                            <i class="fa fa-headset text-white"></i>
                        </div>
                        <p class="fs-5 text-white mb-0">24/7 Support</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 btn-lg-square bg-secondary rounded me-3">
                            <i class="fa fa-money-bill-wave text-white"></i>
                        </div>
                        <p class="fs-5 text-white mb-0">Fair Prices</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- Service Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center wow fadeIn" data-wow-delay="0.1s">
                <h1 class="mb-5"><span class="text-uppercase bg-primary text-white rounded px-2">Services</span> What Solutions We Provide</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item h-100 p-5 pt-0">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary me-4">
                                <i class="fa fa-chart-line fa-3x text-white"></i>
                            </div>
                            <h4 class="mb-0">SEO Optimization</h4>
                        </div>
                        <p class="mb-4">Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna</p>
                        <a class="btn btn-secondary px-3" href="">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="service-item h-100 p-5 pt-0">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary me-4">
                                <i class="fa fa-laptop-code fa-3x text-white"></i>
                            </div>
                            <h4 class="mb-0">Web Design</h4>
                        </div>
                        <p class="mb-4">Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna</p>
                        <a class="btn btn-secondary px-3" href="">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="service-item h-100 p-5 pt-0">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary me-4">
                                <i class="fa fa-share-alt fa-3x text-white"></i>
                            </div>
                            <h4 class="mb-0">Social Marketing</h4>
                        </div>
                        <p class="mb-4">Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna</p>
                        <a class="btn btn-secondary px-3" href="">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item h-100 p-5 pt-0">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary me-4">
                                <i class="fa fa-envelope-open-text fa-3x text-white"></i>
                            </div>
                            <h4 class="mb-0">Email Marketing</h4>
                        </div>
                        <p class="mb-4">Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna</p>
                        <a class="btn btn-secondary px-3" href="">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="service-item h-100 p-5 pt-0">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary me-4">
                                <i class="fa fa-mouse-pointer fa-3x text-white"></i>
                            </div>
                            <h4 class="mb-0">PPC Advertising</h4>
                        </div>
                        <p class="mb-4">Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna</p>
                        <a class="btn btn-secondary px-3" href="">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="service-item h-100 p-5 pt-0">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary me-4">
                                <i class="fa fa-mobile-alt fa-3x text-white"></i>
                            </div>
                            <h4 class="mb-0">App Development</h4>
                        </div>
                        <p class="mb-4">Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna</p>
                        <a class="btn btn-secondary px-3" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Newsletter Start -->
    <div class="container-fluid bg-primary py-5 my-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center wow fadeIn" data-wow-delay="0.2s">
                    <h1 class="text-white mb-5">Subscribe the <span class="text-uppercase bg-white text-primary rounded px-2">Newsletter</span></h1>
                    <div class="position-relative w-100 mb-2">
                        <input class="form-control border-0 w-100 ps-4 pe-5" type="text"
                            placeholder="Enter Your Email" style="height: 60px;">
                        <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-2 me-2"><i
                                class="fa fa-paper-plane text-primary fs-4"></i></button>
                    </div>
                    <p class="text-secondary mb-0">Diam sed sed dolor stet amet eirmod</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center wow fadeIn" data-wow-delay="0.1s">
                <h1 class="mb-5"><span class="text-uppercase bg-primary text-white rounded px-2">Contact</span> Have Any Query?</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="wow fadeIn" data-wow-delay="0.2s">
                        <h4 class="text-center mb-4">Receive messages instantly with our PHP and Ajax contact form - available in the <a href="https://htmlcodex.com/downloading/?item=3811">Pro Version</a> only.</h4>
                        <form>
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name"/>
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email" />
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="mobile" placeholder="Mobile" />
                                        <label for="mobile">Mobile</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject" />
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="form-floating">
                                        <textarea style="height: 165px" class="form-control" id="message" placeholder="Message"></textarea>
                                        <label for="message">Leave a message here</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-white-50 footer pt-5 mt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a href="index.html" class="d-inline-block mb-3">
                        <h1 class="text-white">SEOcom</h1>
                    </a>
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                        amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                        clita duo justo et tempor</p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h4 class="text-white mb-4">Get In Touch</h4>
                    <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-primary btn-square me-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square me-2" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-primary btn-square me-2" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-primary btn-square me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <h4 class="text-white mb-4">Popular Link</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Career</a>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <h4 class="text-white mb-4">Project Gallery</h4>
                    <div class="row g-2">
                        <div class="col-4">
                            <img class="img-fluid rounded w-100" src="/static/img/project-1.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid rounded w-100" src="/static/img/project-2.jpg" alt="">
                        </div> 
                        <div class="col-4">
                            <img class="img-fluid rounded w-100" src="/static/img/project-3.jpg" alt="">
                        </div> 
                        <div class="col-4">
                            <img class="img-fluid rounded w-100" src="/static/img/project-4.jpg" alt="">
                        </div> 
                        <div class="col-4">
                            <img class="img-fluid rounded w-100" src="/static/img/project-5.jpg" alt="">
                        </div> 
                        <div class="col-4">
                            <img class="img-fluid rounded w-100" src="/static/img/project-6.jpg" alt="">
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved. 
                        
                        <!--/*** The author’s attribution link below must remain intact on your website. ***/-->
                        <!--/*** If you wish to remove this credit link, please purchase the Pro Version from https://htmlcodex.com . ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/wow/wow.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/js/main.js"></script>
</body>

</html>